/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet
******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
}

/*********************
HEADER STYLES
*********************/

/*********************
HEADER STYLES
*********************/

.header {
	background-position:center top;
	background-size:1000px 400px;
}

	#logo {
		width:140px;
		margin:20% auto 15%;
		height:200px;
	}